content{
    flex-wrap: wrap;
    justify-content: center;
}
.Card{
   animation-name: Load;
   animation-duration: 1s;   
   padding: 0;
}
/*              GRID             */

.Ong-Painel{
    width: 95%;
    height: auto;
    min-height:450px;

    margin:10px auto;

    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;

}
.Ong-Painel img{
    object-fit: cover;
    max-height: 150px;
    min-height: 150px;
    max-width: 90%;

    margin:0;
}
.Ong-Painel p{
    width: 100%;
    

    margin:10px 0;

    color:var(--blue-color);

    text-align:center;
}
.Ong-Painel  .Ong-Text{
    width: 90%;
}
.Ong-Painel  .Ong-Text p{
    color:#212121;
    text-align: left;

    font-size:0.8rem;
}

h2{
    height: 100%;
    
    color:var(--blue-white);
    font-size:0.8rem;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
h2 span{
    margin-top:10px;

    height: auto;
    width: 100%;

    text-align:center;

    font-size:1rem;
    font-weight:bold;
}