content{
    flex-wrap: wrap;
    justify-content: center;
}
.Card{
   animation-name: Load;
   animation-duration: 1s;   
   padding: 0;
}
/*              GRID             */
section.Ong-Painel{
    display: grid;
    grid-template-areas:
    "Image  Text" 
    "Btn  Btn"
    ;
    grid-template-columns: 1fr 1fr;

    grid-template-rows: 3fr 1fr ;
    
}

.Ong-Img{
    grid-area: Image ;
}

.Ong-Text{
    grid-area: Text ;
}

.Ong-Button{
    grid-area: Btn ;
}

/*              GRID             */
.Ong-Painel{
    display: flex;
    flex-wrap: wrap;

    margin: 3.5% 0;
}





.Ong-Image{
    width: 100%;
    height: auto;

    display:flex;
    align-items: center;

    object-fit: cover;
}
.Ong-Img{
    max-width: 90%;
    height: 90%;
}





.Ong-Text{
    width: 100%;

    display:flex;
    align-items: center;
    justify-content: center;

    font-size: 0.8rem;
}

.Ong-Text p{
    height: min-content;
    width: 95%;

    font-size: 70%;
}


.Ong-Button{
    display: flex;

    align-items: center;

}