content{
    flex-wrap: wrap;
    justify-content: center;  
} 

.Card{
    margin: auto;
    margin-top: 30px;

    display:flex;
    flex-direction: column;

    width: 85%;
    height: auto;
    min-height:0px;

    background: #FFF;
    border-radius: 20px ;
    border:1px solid gray;
    padding: 2%;
}

/* =========================TOP============================ */
.Top{
    width: 99%;
    margin:auto;

    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding:10px;
}
.Top .Image { 
    width: 20%;

    margin:0 ;
    padding: 0;
    border: 0;

    display: flex;
    justify-content: center;  
}
.Top .Image img{ 
    border-radius: 50%!important;
    width: 100%;


    color:#000;

    object-fit: cover;
}
.align{
    margin: 0;
    width: 100%;
    height: 100%;
}
.row{
    width: 80%;
}
.row#row1{
    display:flex;
    flex-direction: row;
}
.row#row1 input, .input{
    width: 40%;
    padding: 5px 5px 5px 8px;
    font-size:0.6rem;
    margin-left:10px;
    background:#d3d3d3;
    border-radius: 10px;
}
.row#row1 input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
  }
  
row#row1 input:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #000;
}

row#row1 input::-ms-input-placeholder { /* Microsoft Edge */
color: #000;
}
textarea{
    resize:none;
    width: 100%;
    height: 100%;

    background:#d3d3d3;    
    border-radius: 10px;

    margin-left:15px;
    padding: 5px;

    color:#000;
    font-size: 0.7rem;
    
    
    overflow: hidden;


}
/* =========================TOP============================ */
/* =========================MID============================ */
.mid{
    width: auto;
 
    display:flex;
    justify-content:center;
 
    margin-left:10px;
}
.infos{
    width: 80%;

    margin:5px auto;

    display:flex;
}
.infos span{
    width:49%;

    margin-left:1%;

    font-size:0.6rem;
    font-weight:bold;

    color:var(--blue-color);

}
/* =========================MID============================ */
/* =========================BOT============================ */
.Bot{
    width: 99%;
    
    padding:1%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.Minicard{
    width: 24%;

    background:#d3d3d3;
    border-radius:10px;

    display:flex;
    flex-direction:column;
    

    color:#919191;
    font-weight: bold;


    transition: 0.3s
}
.Minicard:hover{
    background: var(--nav-bg);
    color:#fff;

}

.Minicard p{
    font-size:0.8rem;
    margin:5px 5px 5px 10px;   
    
    display:flex;
    align-items: center;
}
.Minicard p span{
    font-size: 0.6rem;
}
.Minicard .Ialign{
    width: 100%;
    height: 60%;
    max-height: 60%;
    min-height: 80%;
    
    margin:10px auto;

    display:flex;
    justify-content: center;
    align-items: center;

    
}
.Minicard img{
    width: 80%;
    height: 100%;
    max-height: 100%;
   
    background:var(--blue-white)

}
/* =========================BOT============================ */
.Button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2.5% 0;
}
.Button a{
    background: red;
}
.Button button#save{
    background: green;
}

input[type='file']{
    display: none;
}
.input{
    cursor: default;
    color:gray
}
#error{
    font-size : 0.5rem;
    text-align: center;
    color:red;
}





/* Perfil de outro usuário */

.Editar{
    margin: 10px auto;
}


textarea.Editar{
    margin:10px;
}
textarea.Editar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
}
  
textarea.Editar:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: #000;
}

textarea.Editar::-ms-input-placeholder { /* Microsoft Edge */
color: #000;
}


/* Card de Receitas */
#Receitas{
    width: 100%;
    height:auto;


   display:flex;
   flex-wrap: wrap;
   justify-content: center;
}

