content{
    flex-wrap: wrap;
    justify-content: center;
}
.Card{
    display: flex;
    justify-content: center;
    height: auto;
    min-height: min-content;

    flex-direction: column;
}






#ImagemReceita{

    background-color: var(--bg-color);

    display: flex;
    align-items: center;
    justify-content: center;

    color:var(--blue-black);
    font-size:0.8rem;
    text-align:center;

    width: 90%;
    height:30vh;

    border-radius:4px;

    margin:auto;

    object-fit:cover;
}
.row{
    width: 100%;

    margin:0;

    display: flex;
    align-items:center;
    justify-content:space-around;
}
.row .title{
    font-size:1rem;

}
.col{
    width: max-content;

    display:flex;
    flex-direction:column;


    background: #d3d3d391;
    border-radius:4px;

    padding:5px;

    margin:15px 0;
}
.col.noBG{
    background: none;
}
.col p{
    font-weight: bold;
    font-size:0.6rem;
}
.col span{
    color:var(--blue-color);

    font-weight: bold;
    font-size:0.6rem;
}


.PainelReceita{
    width: 95%;
    height: auto;

    margin:20px auto;

    display:flex;
    align-items:unset;
    justify-content:center;
    flex-direction:column;
}
.PainelReceita .ingreCols{
    width: 80%;

    padding:1%;
    
    margin:5px auto;

    font-size:0.9rem;

    border-left:5px solid var(--blue-color);
    background: var(--blue-white);
}



#textPreparo{
    width: 90%;

    padding:10px 5px;
    
    font-size:0.8rem;

    border-radius:4px;
    background:var(--bg-color);
}